@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Pacifico');

body {
  background: radial-gradient(rgb(54,222,248), rgb(5,32,67));
  background-attachment: fixed;
  height: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

.second {
  clear: both;
  font-family: 'Calibri', cursive;
  font-size: 20px;
  color: #ced9ea;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.selling-points {
  color: white;
  text-align: center;
  font-family: "Calibri";
}

.point {
  overflow: hidden;
  color: black;
  background: skyblue;
  padding: 20px;
  margin: 25px 300px;
  border: 5px solid black ;
}

.ion-ios-phone-portrait, .ion-ios-wifi, .ion-ios-musical-note {
  font-size: 50px;
  margin: 0px 25px;
}
