
.player-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border: 2px solid black;
  background: rgb(192,192,192,0.5);
  height: 100px;
  /*padding: 10px;*/
}

.ion-md-skip-backward, .ion-md-skip-forward {
  font-size: 15px;
}

.ion-md-play, .ion-md-pause {
  font-size: 30px;
}

.ion-md-play {
  margin-left: 5px;
}

#previous, #play-pause, #next, #repeat {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#buttons, #time-control, #volume-control {
  display: inline-block;
}

#buttons {
  display: block;
  clear: both;
  margin: auto;
  vertical-align: middle;

}

#time-control {
  display: block;
  clear: both;
}

#volume-control {
  display: block;
  float: right;
  margin-right: 100px;
  width: 30%;
}

#repeat {
  float: left;
  display: block;
  margin-left: 100px;
  font-size: 20px;
  width: 30%;
}

#repeat:active {
  color: purple;
}
