@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Pacifico');


.App {
  text-align: center;
}

#site-title {
  float:left;
  text-align: center;
  display: inline-block;
  color: white;
  font-family: 'Great Vibes';
  font-size: 400%;
  width: 100%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#title-logo {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin: 0px 0px 0px 10px;
}

#homepage {
  font-family: "Josefin Sans", fantasy;
  color: white;
  width: 50%;
  float: left;
  margin-top: 5px;
  text-decoration: none;
  /border: 2px solid black;

}

#librarypage {
  font-family: "Josefin Sans", fantasy;
  color: white;
  width: 50%;
  float: right;
  text-decoration: none;
  /border: 2px solid black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
